.about-container {
  background-color: #344163;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  min-height: 100vh;
}
.about-content {
  /* height: 100vh; */
  overflow-y: scroll;
}
.about-para-1 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: aliceblue;
  text-align: center;
}
.about-para-2 {
  border-radius: 5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: aliceblue;
  text-align: center;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.why-read-image {
  width: 100%;
}
@media only screen and (min-height: 800px) {
  .about-container {
    min-height: 780px;
  }
}

@media only screen and (min-height: 1000px) {
  .about-container {
    min-height: 900px;
  }
}

@media only screen and (min-height: 1280px) {
  .about-container {
    min-height: 1280px;
  }
}
@media only screen and (min-height: 1440px) {
  .about-container {
    min-height: 1440px;
  }
}
