.free-course {
  padding: 2rem;
  text-align: center;
  background-color: #212b44;
  height: 18rem;
  width: 100%;
}
.free-course-header {
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
}
@media (max-width: 768px) {
  .free-course {
    height: 12rem;
  }
  .free-course-header {
    font-size: 1.8rem;
  }
}
